<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Food.css">
</head>
<body>


<div class="page-wrapper">
    <a class="btn trigger">Click Me!</a>
</div>
<div class="modal-wrapper">
    <div class="modal">
        <div class="head">
            <a class="btn-close trigger" href="javascript:;"></a>
        </div>
        <div class="content">

            <form class="mb-3" name="myform" id="myform" method="post">
                <table class="table modaltable">

                </table>
                <fieldset>
                    <span class="text-bold">별점을 선택해주세요</span>
                    <input type="radio" name="point" value="5" id="rate1"><label
                        for="rate1">★</label>
                    <input type="radio" name="point" value="4" id="rate2"><label
                        for="rate2">★</label>
                    <input type="radio" name="point" value="3" id="rate3"><label
                        for="rate3">★</label>
                    <input type="radio" name="point" value="2" id="rate4"><label
                        for="rate4">★</label>
                    <input type="radio" name="point" value="1" id="rate5"><label
                        for="rate5">★</label>
                </fieldset>
                <div>
                <textarea class="col-auto form-control" name="reviewContents" type="text" id="reviewContents"
                          placeholder="고객님의 소중한 후기를 남겨주세요!!"></textarea>
                    <input type="text" name="pname" class="pname form-control" placeholder="닉네임">
                </div>
                <button type="button" class="btn btn-dark sendpoint" onclick="storepoint()">등록하기!!</button>
            <table class="table stinfo">


            </table>
            </form>
        </div>
    </div>
</div>


<!-- 카카오 map -->

<div id="map" style="width:100%;height:721px;"></div>
<!-- 위반음식점 리스트 -->
<div>
    <table class="badfoodt">

    </table>

</div>
<!-- 모범 음식점 리스트 -->
<div>
    <table class="goodfoodt">

    </table>
</div>


<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b632f1626486adf53fd1d55afa4835c4&libraries=clusterer"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/Food.js"></script>
</body>
</html>